@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <link  rel='stylesheet' type='text/css' href="@Url.Content("~/Content/themes/base/jquery-ui-1.10.1.custom.css")" />
<link  rel='stylesheet' type='text/css' href="@Url.Content("~/Content/bootstrap.css")" />
<link href="@Url.Content("~/Content/resources/css/ext-all.css")" rel="stylesheet" type="text/css" />
<script type='text/javascript' src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
<script type='text/javascript' src="@Url.Content("~/Scripts/knockout-2.1.0.js")"></script>
<script type='text/javascript' src="@Url.Content("~/Scripts/jquery-ui-1.10.1.custom.js")"></script>
<script type='text/javascript' src="@Url.Content("~/Scripts/Site/newbase.viewmodel.js")"></script>
<script type='text/javascript' src="@Url.Content("~/Scripts/Site/data.model.js")"></script>
<script type='text/javascript' src="@Url.Content("~/Scripts/bootstrap.js")"></script>
<script src="@Url.Content("~/Scripts/ext-all.js")" type="text/javascript"></script> --> 
<!--<link  rel='stylesheet' type='text/css' href="@Url.Content("~/Content/classic-min.css")" />-->
<!--<script type='text/javascript' src="@Url.Content("~/Scripts/jquery.mousewheel.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/Scripts/jQDateRangeSlider-min.js")"></script>-->

<style>
  .modal-backdrop {background: white;}
  .Timetable{background-color:#F2F2F2; left:230px; top:70px; position: absolute; opacity:1;}
  .ChisScheduleTicket{top: 0px;}
  .ZnamScheduleTicket{position:relative; top: 80px;}

  .plannedScheduleInfo{background-color:white; opacity:0.7;}
  .limitedScheduleInfo{background-color:white; opacity:0.3;}
  .simpleScheduleInfo{background-color: white; opacity:1.0;}

  .onContextMenuMouseDownSelect{background-color:#8AB9FF;}
  .onContextMenuMouseDownUnselect{background-color:white;}

  .onScheduleInfoSelect{background-color: #9F94FF;}
  .onScheduleInfoUnselect{background-color:white;}
  .onScheduleInfoClick{background-color: #E9C7FF;}
  .onScheduleInfoUnclick{background-color: white;}
  .onScheduleInfoDrag{background-color: #9F94FF;}
  .onScheduleInfoUndrag{background-color: white;}

  .onScheduleBacketDropSelect{background-color: #FFF5CC;}
  .onScheduleBacketDropUnselect{background-color: white;}
  .onScheduleBacketSelect{background-color: #F0F0F0;}
  .onScheduleBacketUnselect{background-color: white;}
  .onScheduleBacketClick{background-color: #FFFFA8;}
  .onScheduleBacketUnclick{background-color: white;}

  .onScheduleTicketDropSelect{background-color: #9F94FF;}
  .onScheduleTicketDropUnselect{background-color: white;}
  .onScheduleTicketSelect{background-color: #EEEEBA;}

  
  .onScheduleTicketUnselectForLecturer{background-color: #FFCCD6;}
  .onScheduleTicketUnselectForAuditorium{background-color: #D9FFB3;}
  .onScheduleTicketUnselectForGroup{}#background-color: #D1CCFF;


  .onScheduleTicketClick{background-color: #FFFFB3;}
  .onScheduleTicketUnclick{background-color: white;}


  .onScheduleBacketPaddingOnlyZnam{height:62px; width:100px;}
  .onScheduleBacketPaddingUsual{height:0px; width:100px;}
  .onScheduleBacketPaddingOnlyEveryDay{height:31px; width:100px;}

  .noTitleStuff .ui-dialog-titlebar {display:none;}


  .chBroder{border: solid 3px; border-color: red;}

  #background: url("");

  .ui-widget-header{ background-color: lightgrey;}
  #feedback { font-size: 1.4em; }
  #timetabletitle {text-align:center; background-color: #ffffff; list-style-type: none; margin: 0px; height: 40px; padding: 0; width: 1180px; border: solid 1px; border-color:grey; }

  #timetable .ui-selecting { background: #FECA40; }
  #timetable .ui-selected { background: #F39814; color: black; }
  #timetable { left:80px; list-style-type: none; margin-top:0px; margin-left: 0px; margin-right:0px; padding: 0px; width: 1180px; }
  #timetable li { margin-left: 0px; margin-right:0px; padding: 0px; float: left;  font-size: 1em; text-align: center; }

  #scheduleinfo .ui-selecting { background: #FECA40; }
  #scheduleinfo .ui-selected { background: #F39814; color: black; }
  #scheduleinfo { list-style-type: none; margin: 0; padding: 0; width: 100px; }
  #scheduleinfo li { background-color:white; border:solid 1px; border-color:lightgrey; margin: 1px; padding: 1px; float: left; width: 180px; height: 40px; font-size: 1em; text-align: center; }

  </style>

<script>
    
</script>

   <script>
  $(function() {
      //Диалог для добавления занятия
      /*$("#adddialog").dialog({
          autoOpen: false,
          height: 530,
          width: 250,
          modal: true,
      });*/

      // $("#spinner").spinner();

      $("#adddialog").draggable({
          handle: ".modal-header"
      });

      $("#auditoriumdialog").draggable({
          handle: ".modal-header"
      });

      $("#changeauditoriumdialog").draggable({
          handle: ".modal-header"
      });

      $("#addhoursdialog").draggable({
          handle: ".modal-header"
      });

      $("#dateSlider").slider({
          range: true,
          min: 0,
          max: 500,
          values: [75, 300],
          slide: function (event, ui) {

          }
      });

      /*
      $('#adddialog').modal({
          keyboard: true,
          show: false
      });*/

      /*$("#auditoriumdialog").dialog({
          autoOpen: false,
          height: 450,
          width: 280,
          modal: true,
      });*/

      /*$("#changeauditoriumdialog").dialog({
          autoOpen: false,
          height: 450,
          width: 280,
          modal: true,
         
      });*/

      /*$("#addhoursdialog").dialog({
          autoOpen: false,
          height: 200,
          width: 280,
          modal: true,
      });*/
    
    
    $("#changescheduledialog").dialog({
        autoOpen: false,
        height: 280,
        width: 400,
        modal: true,
    });
    $("#change").click(function () {
        $("#changescheduledialog").dialog("open");
    });
  });

  $(function () {
      //$("#tabs").tabs();
      //$("#scheduleinfotab").tabs();
      
  });

  $(function () {
     //$("#accordion").accordion();
  });

  $(function () {
    //$("#accordion1").accordion({ heightStyle: "content" });

  });
  </script>

<body style="overflow-x:hidden; background-color:#E0E0E0;">


 

  <!-- Main -->
  <div class="container-fluid"  >
  <div class="row-fluid">


    
    <div id="div11">

    <div id ="menu11">
        @Html.Partial("NewCreate/SideSelectMenu")
    </div>

    <div id="timetable11" style="width:300px;">
    <div id="timetabletitle" style="margin:0px; text-align:center;" >
        <strong data-bind="text:$root.timeTableTitle()"></strong>
    </div>
    <!-- Timetable -->
    <!-- ko if: $root.dayTimes().length !== 0 -->
    <div id="rty" style="margin-top:13px; width:300px;">
     
      <ul id="timetable" data-bind="foreach: cells" >
          <!-- ko if: $index() <= $root.daysOfweek().length -->
                <!-- ko if: $index()%($root.daysOfweek().length+1) == 0 -->
                    <li class="ui-widget-content">
                        <div style="width:80px;height:30px;">
                            <strong>Время</strong>
                        </div>
                    </li>
                <!-- /ko -->
                <!-- ko if: $index()%($root.daysOfweek().length+1) !== 0 -->
                <li class="ui-widget-content">
                    <div  style="width: 178px; height:30px;">
                        <strong data-bind="text: $root.daysOfweek()[$index()-1].Name"></strong>
                    </div>
                </li>
                <!-- /ko -->
          <!-- /ko -->

           <!-- ko if: $index() > $root.daysOfweek().length -->
           <!-- ko if: $index()%($root.daysOfweek().length+1) == 0 -->
                <li class="ui-widget-content">
                    <div style="width:80px;height:130px;">
                        <!-- ko if: $root.dayTimes()[$index()/($root.daysOfweek().length+1)-1] !== undefined -->
                           <!-- ko if: $root.dayTimes()[$index()/($root.daysOfweek().length+1)-1].StartEnd !== undefined -->
                            <strong data-bind="text: $root.dayTimes()[$index()/($root.daysOfweek().length+1)-1].StartEnd"></strong>
                           <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </li>
           <!-- /ko -->
           <!-- ko if: $index()%($root.daysOfweek().length+1) !== 0 -->
          
           <li class="ui-widget-content" style="width:180px;">
               <div class="ScheduleBacket" 
                   data-bind="event: {contextmenu: $root.ScheduleBacketSingleRightClick.bind($data,$index()), click: $root.ScheduleBacketSingleLeftClick.bind($data,$index()), mouseover: $root.ScheduleBacketCssState.bind($data, $index(),'onScheduleBacketSelect'), mouseout:  $root.ScheduleBacketCssState.bind($data, $index(),'onScheduleBacketUnselect'), dblclick: $root.ScheduleBacketDoubleClick}, foreach: $root.ScheduleArray()[$index()-($root.daysOfweek().length+1)-($index()/($root.daysOfweek().length+1)>>0)].Tickets, droppable: {drop: $root.ScheduleBacketDrop.bind($data, $index()),  accept: '#sidrag',  over: $root.ScheduleBacketOverDrop.bind($data,$index()), out: $root.ScheduleBacketOutDrop.bind($data,$index())}, attr: {'class': $root.ScheduleArray()[$index()-($root.daysOfweek().length+1)-($index()/($root.daysOfweek().length+1)>>0)].CssClass() }," style="overflow-x:hidden; z-index:inherit;overflow-y:auto; max-height:130px; width: 176px; height:130px;">
                   
                   <div data-bind="attr: {'class': $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].PaddingCss() }"></div>

                   <!--<div id="sidrag" class="ScheduleTicket" style="height:86px; border:solid 1px; border-color:orange; width:178px;" 
                       data-bind="event: {contextmenu: $root.ScheduleSingleRightClick.bind($data, $parentContext.$index(), $index()), mouseover: $root.ScheduleTicketCssState.bind($data, $parentContext.$index(), $index(),'onScheduleTicketSelect'), mouseout: $root.ScheduleTicketCssState.bind($data, $parentContext.$index(), $index(),$root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].UnselectCssClass()), droppable: {over: $root.ScheduleTicketOverDrop.bind($data, $parentContext.$index(), $index())}, click: $root.ScheduleSingleLeftClick.bind($data, $parentContext.$index(), $index()) , dblclick: $root.ScheduleDoubleClick}, draggable: { start: $root.ScheduleStartDrag, opacity:1.0, helper:'clone'}, attr: {'class': $root.ScheduleTicketCss()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)][$index()]() },">
                   -->
                   <!-- ko if: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Data.WeekTypeId() == 1 -->
                   <div id="sidrag" class="ScheduleTicket" style="height:62px; max-height:100px; border:solid 3px; border-color:green; width:176px;" 
                       data-bind="event: {contextmenu: $root.ScheduleSingleRightClick.bind($data, $parentContext.$index(), $index()), mouseover: $root.ScheduleTicketCssState.bind($data, $parentContext.$index(), $index(),'onScheduleTicketSelect'), mouseout: $root.ScheduleTicketCssState.bind($data, $parentContext.$index(), $index(),$root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].UnselectCssClass()), click: $root.ScheduleSingleLeftClick.bind($data, $parentContext.$index(), $index()) , dblclick: $root.ScheduleDoubleClick}, attr: {'class': $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].CssClass() },">
                   <div style="float:right; right:0px; top:0px; margin-right: 5px;">    
                       <strong data-bind="text: '#' + $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Auditorium()"></strong>
                   </div>
                   <div style="float:left; color:green; left:0px; top:0px; margin-left: 5px;">
                   <strong data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.WeekType()">&nbsp;&nbsp;</strong>
                   </div>
                   <p style="text-align:left;  text-indent: 20px; ">
                   <span data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Lecturer()"></span>
                   <span data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Tutorial()"></span>
                   <span data-bind="text: '(' + $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.TutorialType() + ')'"></span>
                   <span data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Groups()"></span>
                   <span data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Time()"></span> 
                   </p>
                   </div>
                   <!-- /ko -->
                   <!-- ko if: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Data.WeekTypeId() == 2 -->
                   <div id="sidrag" class="ScheduleTicket" style="height:62px; max-height:100px; border:solid 3px; border-color:red; width:176px;" 
                       data-bind="event: {contextmenu: $root.ScheduleSingleRightClick.bind($data, $parentContext.$index(), $index()), mouseover: $root.ScheduleTicketCssState.bind($data, $parentContext.$index(), $index(),'onScheduleTicketSelect'), mouseout: $root.ScheduleTicketCssState.bind($data, $parentContext.$index(), $index(),$root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].UnselectCssClass()), click: $root.ScheduleSingleLeftClick.bind($data, $parentContext.$index(), $index()) , dblclick: $root.ScheduleDoubleClick}, attr: {'class': $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].CssClass() },">
                   <div style="float:right; right:0px; top:0px; margin-right: 5px;">    
                       <strong data-bind="text: '#' + $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Auditorium()"></strong>
                   </div>
                   <div style="float:left; color:red; left:0px; top:0px; margin-left: 5px;">
                   <strong data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.WeekType()">&nbsp;&nbsp;</strong>
                   </div>
                   <p style="text-align:left;  text-indent: 20px; ">
                   <span data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Lecturer()"></span>
                   <span data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Tutorial()"></span>
                   <span data-bind="text: '(' + $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.TutorialType() + ')'"></span>
                   <span data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Groups()"></span>
                   <span data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Time()"></span> 
                   </p>
                   </div>
                   <!-- /ko -->
                   <!-- ko if: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Data.WeekTypeId() == 3 -->
                   <div id="sidrag" class="ScheduleTicket" style="height:62px; max-height:100px; border:solid 3px; border-color:blue; width:176px;" 
                       data-bind="event: {contextmenu: $root.ScheduleSingleRightClick.bind($data, $parentContext.$index(), $index()), mouseover: $root.ScheduleTicketCssState.bind($data, $parentContext.$index(), $index(),'onScheduleTicketSelect'), mouseout: $root.ScheduleTicketCssState.bind($data, $parentContext.$index(), $index(),$root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].UnselectCssClass()), click: $root.ScheduleSingleLeftClick.bind($data, $parentContext.$index(), $index()) , dblclick: $root.ScheduleDoubleClick}, attr: {'class': $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].CssClass() },">
                   <div style="float:right; right:0px; top:0px; margin-right: 5px;">    
                       <strong data-bind="text: '#' + $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Auditorium()"></strong>
                   </div>
                   <div style="float:left; color:blue; left:0px; top:0px; margin-left: 5px;">
                   <strong data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.WeekType()">&nbsp;&nbsp;</strong>
                   </div>
                   <p style="text-align:left;  text-indent: 20px; ">
                   <span data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Lecturer()"></span>
                   <span data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Tutorial()"></span>
                   <span data-bind="text: '(' + $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.TutorialType() + ')'"></span>
                   <span data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Groups()"></span>
                   <span data-bind="text: $root.ScheduleArray()[$parentContext.$index()-($root.daysOfweek().length+1)-($parentContext.$index()/($root.daysOfweek().length+1)>>0)].Tickets()[$index()].Display.Time()"></span>                                       
                   </p>
                   </div>
                   <!-- /ko -->
               </div>
           </li>
            <!-- /ko -->
          <!-- /ko -->
      </ul>
  </div>
 <!-- /ko -->
    </div>
    </div>
 </div>
 </div>

@Html.Partial("NewCreate/Forms")

 <div id="headerMenu11" style="height:100px;">
          @Content.Navbar("scheduleCreateLink", this)
         <div class="btn-toolbar">
          <div class="btn-group" style="margin-top:35px;">
         <select style=" width:110px;"  data-placeholder="Выберите учебный год" class="span5" id="studyyear" data-bind="options: $root.studyyears, optionsText: 'Name', value: $root.currentStudyYear">
                <option></option>
         </select>

         <select style="width:50px;"  data-placeholder="Выберите семестр" class="span5" id="semester" data-bind="options: $root.semesters, optionsText: 'Name', value: $root.currentSemester">
                <option></option>
         </select>
         

       
         <select style="width:110px;"  data-placeholder="Выберите здание" class="span5" id="buildings1" data-bind="options: $root.buildings, optionsText: 'Name', value: $root.currentBuilding">
                <option></option>
         </select>
        
         <select style="width:130px;"  data-placeholder="Выберите тип аудитории" class="span5" id="auditoriumtype1" data-bind="options: $root.auditoriumTypes, optionsText: 'Name', value: $root.currentAuditoriumType">
            <option></option>
         </select>
         <select style="width:80px;"  data-placeholder="Выберите аудиторию" class="span5" id="auditoriumheader1" data-bind="options: $root.auditoriums, optionsText: 'Number', value: $root.currentAuditorium">
            <option></option>
         </select>
         <select style="width:53px;"  data-placeholder="Выберите тип недели" class="span5" id="weektype31" data-bind="options: $root.weekTypes, optionsText: 'Name', value: $root.currentWeekType">
            <option></option>
         </select>
         </div>
        
         <div class="btn-group"">
            <input  type="button"  id="add" class="btn btn-primary disabled" value="Запланировать" data-bind="click: $root.SchedulePlanButton" />
            <input  type="button"  id="del" class="btn disabled" value="Снять занятие" data-bind="click: $root.ScheduleDeleteButton" />
            <!--<input type="button" id="change" class="btn disabled" value="Сделать замену" data-bind="click: $root.ScheduleChangeButton" />-->
            <input  type="button"  id="changeAuditorium" class="btn disabled" value="Поменять ауд." data-bind="click: $root.AuditoriumChangeButton" />
            <input  type="button"  id="freeAuditorium" class="btn disabled" value="Доступные ауд." data-bind="click: $root.FreeAuditoriumsButton" />
        </div>
        <div class="btn-group"">    
            <button type="button"  id="printSchedule" class="btn" value="Сформировать отчет" data-bind="click: $root.ShowPrintSettingMenu" > <i class="icon-print"></i>Сформировать отчет</button>
        </div>
    </div>
</div>

</body>




 
 
 
  
 
  
 